body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-statement {
    width: 90%;
    border-radius: 5px 0 0 5px;
    padding: 15px 20px;
    border: none;
    display: inline;
    float: left;
    box-sizing: border-box;


}
.search-statement::placeholder{
    color: #0c83e2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.padding-table {
    position: relative;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 30px 170px 0 170px;
}

.modal-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000!important; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-popup-login{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 90000000!important; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-popup {
    background-color: #fefefe;
    margin: auto;
    padding:15px ;
    border: 1px solid #888;
    width: 60%;
    border-radius: 5px;
    height: auto;
    z-index: 900!important;
}
.modal-content-popup form{
    padding: 20px;

}
.modal-content-header{
    /*width: 100%;*/
    /*height: 68px;*/
    /*background-color:#0c83e2;*/
    /*padding:16px;*/
    /*border-radius: 5px 5px 0 0;*/
    /*box-shadow: 1px 2px 2px 1px rgba(50, 71, 169, 0.8);*/


}

.close-popup {
    color: #aaaaaa;
    float: right!important;
    font-size: 28px;
    font-weight: bold;
    display: block;
    position: relative;
    right: 10px!important;
}

.close-popup:hover,
.close-popup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.search-button {
    background-color:#0c83e2;
    display: block;
    float: left;
    /*padding: 0 0 10px 0;*/
    border: none;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    /*background-image: url("../images/icons/if_search_46834 .png");*/
    /*background-repeat: no-repeat;*/
    /*background-position:  3px 9px;*/
    width: 50px;
    height: 54px;
    margin: 0 0 0 4px;
    cursor: pointer;

}
.search-button:hover{
    background-color:  #999;
    box-shadow: 0 14px 26px -12px  rgba(50, 71, 169, 0.8),
    0 4px 23px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(153, 153, 153, 0.2);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

}


.search-button .material-icons{
    margin-top: 7px;
}
#file{
    display: block;
    float: left;
}
#statement-form button{
    display: block;
    float: right;
}
.footer.text-center{
    background-color: white!important;
    border: none;
    height: auto!important;
}
.card .card-header-primary{
    background: linear-gradient(60deg, #1496E2, #0c83e2)!important;
}
.button-center{
    position: relative;
}
.button-center button{
    background-color: #0c83e2;
    display: block;
    position: relative;
    margin: 0;
    border: none!important;
}


.button-center button:active{
    background-color:#0c83e2!important;
}
.button-center button:visited{
    background-color:#0c83e2!important;
}
.button-center button:link{
    background-color:#0c83e2!important;
}
@media (max-width: 1200px) {
    .button-center button{
        margin-right: 105px;
        margin-left: 105px;
    }
}
@media (max-width: 992px) {
    .button-center button{
        margin-right: 115px;
        margin-left: 115px;
    }
}
@media (max-width: 768px) {
    .button-center button{
        margin-right: 200px;
        margin-left: 200px;
    }
}
@media (max-width: 576px) {
    .button-center button{
        margin-right: 0;
        margin-left: 0;
        position: absolute;
        right: 10px;
    }
    .card{
        width: auto;
    }
}
.container-filter{
    width: 100%;
    height: auto;
    margin:1px 30px 1px 30px ;
    padding: 0;
}

.container-card{
    width: 100%;
    height: auto;
    padding: 0!important;
    margin: 0!important;
}
.card-body .row{
    margin: 15px 0 20px 0;

}
.text-hidden{
    overflow: hidden;
    height: 50px;
}
.product-description{

}
.owl-item.cloned{
    float: left!important;
}
#text{
    width: 100%;
    height: 150px!important;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
    vertical-align: top!important;
    overflow: auto;
    color: #4659B0;
}
.new-statements{
    /*width: 1141px;*/
    height: auto;
    margin: auto;
}
.statements{
    width: auto!important;
    height: auto!important;
}
/*.container.large-container{*/
    /*!*margin: 0!important;*!*/

    /*width: 1440px!important;*/
/*}*/
/*@media (min-width: 1200px) {*/
    /*.container.large-container {*/
        /*max-width: 1440px!important;*/
    /*}*/
/*}*/

.btn-float{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.btn-float input{
    float: right;
    display: block;

}
.btn-float input:first-child{
    margin-left: 20px;
}
.image-table input{

}
.delete-image-table{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom:20px;
}
.delete-image-table img{
    width: 50px;
    height: 50px;
    z-index: -1;
}
.image-span{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 20px 0 10px;
    float: left;

}
.delete-image{
    z-index: 1;
    position:absolute;
    top: -20px;
    right: -8px;
    /*background-color: white;*/
    font-size: 28px;
    font-weight: bold;
    color: rgba(229, 0, 0, 0.75);
    cursor: pointer;
}
.delete-image:hover{
    color: rgb(255, 0, 0);
}
.single-product-wrapper{
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 19px 1px  rgba(50, 71, 169, 0.53);
    -moz-box-shadow: 0 3px 19px 1px rgba(50, 71, 169, 0.53);
    box-shadow: 0 3px 19px 1px rgba(50, 71, 169, 0.53);
}
.single-product-wrapper .product-description{

    padding: 10px;
}
.product-img {
    width: 100%!important;
    height: 308px;
}

.product-img img{
    width: 100%;
    height: 308px;
}

.text-hidden{
    text-decoration: none;
    width: 90%;
    font-weight: 200 !important;
    color: #4F4F4F !important;
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
}
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

@media (min-width: 1200px){
    .h-100 {
        max-width: 1340px;
    }
}