.section-padding-80 h1 {
    text-align: center;
    margin-bottom: 30px;
}

.hover-content a {
    font-size: 15px !important;
    position: relative;
    display: block !important;
    float: left;
    color: #0c83e2;
    /*margin-left: 10px;*/
    text-transform: none !important;
}

.text-style {
    overflow: hidden;
    height: 84px;
    width: auto;
    position: relative;
    display: block;
}

.text-style a {
    color: #4659B0 !important;

}

.image-size {
    width: 525px !important;
    height: 336px !important;
}

.image-size img {
    width: 100% !important;
    height: 100% !important;
}

.delete-item {
    margin-left: 20px;
    color: red !important;
}

.modal-footer a {
    display: block;
    position: relative;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(12, 131, 226, 0.14), 0 3px 1px -2px rgba(12, 131, 226, 0.2),
    0 1px 5px 0 rgba(153, 153, 153, 0.12);
    margin: 0.3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1)!important;
    will-change: box-shadow, transform!important;
}
.modal-footer a:hover{
    opacity: 0.9;
    color: #ffffff;
    background-color: #0c83e2;
    box-shadow: 0 14px 26px -12px rgba(36, 36, 36, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(31, 31, 31, 0.38);
}
.modal-content{
    padding: 15px;
}
.modal-header{
    /*background-color: #0c83e2;*/
    /*border-radius: 5px 5px 0 0;*/
    /*box-shadow: 1px 2px 2px 1px rgba(25, 25, 25, 0.8);*/
    /*border: none;*/
}
.blog-wrapper{
    width: 1141px;
    margin: auto;
}
.no-item{
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    height: 69%;
    padding-bottom:315px;
}
.no-item h3{
    color: red;
    text-align: center;
}

@media (max-width: 480px) {
    .no-item{
        width: 100%;
        padding-bottom: 0;
    }
    .blog-wrapper{
        width: 100%;
        margin: auto;
    }
}