/* ####################################################
:: Template Name: Essence - Fashion Ecommerce Template
:: Author: Colorlib
:: Author URL: https://colorlib.com
:: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
:: Version: 1.0.0
:: Created: April 27, 2018
:: Last Updated: May 2, 2018
#################################################### */

/* ---------------------------------------
##### - PLACE YOUR CUSTOM CSS HERE - #####
--------------------------------------- */



.header_area {
    position: fixed;
    z-index: 900;
    top: 0px;
    left: 0px;
    width: 100%;
    transition-duration: 500ms;
    border-bottom: 1px solid rgb(235, 235, 235);
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0px;
}

*, ol, ul {
    margin: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}


body {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    margin-top: 85px;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}



